.hint-box {
    border-left: 3px solid rgb(76 101 134);
    background-color: rgb(76 101 134 / 10%);
    border-radius: 6px;
    margin-bottom: 15px !important;
    margin-top: 15px !important;
    padding: 0 !important;
}

.hint-header {
    padding: 10px;
    background-color: #4c65863b;
    font-weight: bold;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.hint-content {
    padding: 10px;
    margin-left: 5px;
    font-size: 13px;
}